@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base Colors */
    --color-base-01: #ffffff;
    --color-base-02: #f0f0f0;
    --color-base-03: #e7e7e7;
    --color-base-04: #e5e5e5;
    --color-base-05: #d4d4d4;
    --color-base-06: #cccccc;
    --color-base-07: #c6c6c6;
    --color-base-08: #bbbbbb;
    --color-base-09: #a0a0a0;
    --color-base-10: #808080;
    --color-base-11: #7f7f7f;
    --color-base-12: #606060;
    --color-base-13: #454545;
    --color-base-14: #3c3c3c;
    --color-base-15: #3a3d41;
    --color-base-16: #333333;
    --color-base-17: #303031;
    --color-base-18: #292929;
    --color-base-19: #252526;
    --color-base-20: #1e1e1e;
    --color-base-21: #000000;

    /* Accents - Blues */
    --color-blue-01: #75beff;
    --color-blue-02: #40a6ff;
    --color-blue-03: #3399cc;
    --color-blue-04: #3794ff;
    --color-blue-05: #0097fb;
    --color-blue-06: #007acc;
    --color-blue-07: #0e639c;
    --color-blue-08: #264f78;
    --color-blue-09: #094771;
    --color-blue-10: #062f4a;
    --color-blue-11: #001f33;

    /* Accents - Reds */
    --color-red-01: #f14c4c;
    --color-red-02: #c74e39;
    --color-red-03: #ff0000;
    --color-red-04: #a31515;

    /* Accents - Greens */
    --color-green-01: #73c991;
    --color-green-02: #40c8ae;
    --color-green-03: #16825d;
    --color-green-04: #327e36;
    --color-green-05: #28632b;

    /* Accents - Purples */
    --color-purple-01: #6c6cc4;
    --color-purple-02: #b180d7;
    --color-purple-03: #bc3fbc;
    --color-purple-04: #68217a;

    /* Accents - Yellows */
    --color-yellow-01: #d7ba7d;
    --color-yellow-02: #cca700;
    --color-yellow-03: #b89500;
    --color-yellow-04: #bf8803;
    --color-yellow-05: #ffff00;

    /* Accents - Grays */
    --color-gray-01: #e4e6f1;
    --color-gray-02: #5f6a79;
    --color-gray-03: #424750;

    /* Seti */
    --color-seti-blue: #519aba;
    --color-seti-green: #8dc149;
    --color-seti-orange: #e37933;
    --color-seti-pink: #f55385;
    --color-seti-red: #cc3e44;
    --color-seti-steel: #7494a3;
    --color-seti-yellow: #cbcb41;
    --color-seti-purple: #a074c4;
    --color-seti-ignore: #41535b;
    --color-seti-white: #d4d7d6;
    --color-seti-gray: #6d8086;
  }

  /* Typography */
  h1,
  .h1 {
    @apply font-sfProText text-[26px] font-[600] not-italic leading-normal;
  }

  h2,
  .h2 {
    @apply font-sfProText text-[14px] font-[500] not-italic leading-normal;
  }

  h3,
  .h3 {
    @apply font-sfProText text-[13px] font-[800] not-italic leading-normal;
  }

  h4,
  .h4 {
    @apply font-sfProText text-[11px] font-[700] uppercase not-italic leading-normal;
  }

  h5,
  .h5 {
    @apply font-sfProText text-[11px] font-[500] uppercase not-italic leading-normal;
  }

  h6,
  .h6 {
    @apply font-sfProText text-[11px] font-[800] not-italic leading-normal;
  }

  body,
  .body-1 {
    @apply font-sfProText text-[13px] font-[500] not-italic leading-normal;
  }

  .body-2 {
    @apply font-sfProText text-[12px] font-[500] not-italic leading-normal;
  }

  .label-1 {
    @apply font-sfProText text-[14px] font-[500] not-italic leading-[155.137%];
  }

  .label-2 {
    @apply font-sfProText text-[12px] font-[700] not-italic leading-[155.137%];
  }

  .label-3 {
    @apply font-sfProText text-[11px] font-[500] not-italic leading-[100%];
  }

  .markdown-h1 {
    @apply font-sfProText text-[26px] font-[600] not-italic leading-normal;
  }

  .markdown-h2 {
    @apply font-sfProText text-[20px] font-[600] not-italic leading-normal;
  }

  .markdown-h3 {
    @apply font-sfProText text-[15px] font-[600] not-italic leading-normal;
  }

  .markdown-h4 {
    @apply font-sfProText text-[13px] font-[800] not-italic leading-normal;
  }

  .markdown-h5 {
    @apply font-sfProText text-[11px] font-[800] not-italic leading-normal;
  }

  .markdown-h6 {
    @apply font-sfProText text-[9px] font-[800] not-italic leading-normal;
  }

  .markdown-paragraph {
    @apply font-sfProText text-[13px] font-[500] not-italic leading-normal;
  }

  code,
  .code-1 {
    @apply font-menlo text-[12px] font-[400] not-italic leading-[150%];
  }

  .code-2 {
    @apply font-menlo text-[12px] font-[700] not-italic leading-[151.328%];
  }

  .codicon {
    @apply text-[16px] font-[400] uppercase not-italic leading-normal;
  }

  .seti {
    @apply text-[20px] font-[400] uppercase not-italic leading-normal;
  }

  html,
  body {
    margin: 0;
    min-width: 240px;
    width: auto !important;
    max-width: 100vw;
    overflow-x: hidden;
  }
}
