@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }
}

html,
body {
  margin: 0;
  min-width: 375px;
  width: auto !important;
  max-width: 100vw;
  overflow-x: hidden;
}
